<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" ng-href="main">Property Cross</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active" ui-sref-active="active">
            <a class="nav-link" ui-sref="main">Home</a>
        </li>
        <li class="nav-item" ui-sref-active="active">
            <a class="nav-link" ui-sref="favourites">Favorites</a>
        </li>
    </ul>
    <form class="form-inline pull-xs-right" ng-submit="main.searchLoc(false, searchForm.search.$viewValue)" name="searchForm">
        <input class="form-control" type="text" placeholder="Search" name="search" ng-model="search">
        <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
</nav>
<div class="container">
    <p class="lead">Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
    <img ng-src="img/loader.gif" alt="" ng-show="!main.propList.length && main.loading">
    <div class="search-results" ng-if="main.propList.length > 0">
        <h2>Please select a location below:</h2>
        <div class="row row-hover" ng-repeat="prop in main.propList track by $index" ng-click="main.preview(prop)">
            <div class="col-md-2">
                <img ng-src="{{prop.thumb_url}}" alt="{{prop.title}}" width="100%">
            </div>
            <div class="col-md-10">
                <p>{{prop.price_formatted}}</p>
                <p>{{prop.title}}</p>
            </div>
        </div>

    </div>
    <div class="load-more" ng-if="main.propList && main.loadMore">
        <button type="button" class="btn btn-secondary btn-lg" ng-click="main.searchLoc(true)">Load more</button>
        <span class="loader" ng-show="main.loading"></span>
    </div>
    <div class="recent-search" ng-hide="main.propList.length > 0 || main.loading">
        <h2>Recent searches:</h2>
        <div class="row row-hover" ng-repeat="search in main.recentSearchList track by $index" ng-click="main.applySearch(search)">
            <div class="col-md-12">
                <p>{{search.filter.place_name}}({{search.data.length}} of {{search.totalResults}})</p>
            </div>
        </div>
    </div>
</div>
